<%= devise_error_messages! %>

<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</div>

<div class="field">
  <%= f.label :raw_location, "Location (city, state OR zipcode)" %><br />
  <%= f.text_field :raw_location %>
</div>