<p><%= link_to 'New Pairing session', new_pairing_session_path %></p>
 
<h2>My commitments</h2>
 
<p><%= link_to "Show old pairing sessions", pairing_sessions_path(:show_all => "1") %></p>
 
<table id="my_involved_pairing_sessions">
  <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Description</th>
    <th>Partner</th>
    <th>Location</th>
    <th></th>
  </tr>
  <% @my_involved_pairing_sessions.each do |session| %>
    <tr>
      <td><%= session.start_at %></td>
      <td><%= session.end_at %></td>
      <td><%= session.description %></td>
      <td><%= lambda {|x| x && x.full_name }.call(session.partner_of(current_user)) %></td>
      <td><%= session.displayed_location %></td>
      <td>
        <ul>
          <li><%= link_to 'Show', session %></li>
          <% if session.owner_id == current_user.id %>
            <li><%= link_to 'Edit', edit_pairing_session_path(session) %></li>
            <li><%= link_to 'Delete', session, :confirm => 'Are you sure?', :method => :delete %></li>
          <% else %>
            <%# TODO: Is this necessary? %>
            <% session.pair_id = current_user.id %>
            <li><%= button_to "Sorry, gotta cancel.", remove_pair_from_pairing_session_path(session), {:method => :put} %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
 
<h2>My open sessions</h2>
 
<table id="my_open_pairing_sessions">
  <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Description</th>
    <th>Location</th>
    <th></th>
  </tr>
  <% @my_open_pairing_sessions.each do |session| %>
    <tr>
      <td><%= session.start_at %> </td>
      <td><%= session.end_at %></td>
      <td><%= session.description %></td>
      <td><%= session.displayed_location %></td>
      <td>
        <ul>
          <li><%= link_to 'Show', session %></li>
          <li><%= link_to 'Edit', edit_pairing_session_path(session) %></li>
          <li><%= link_to 'Delete', session, :confirm => 'Are you sure?', :method => :delete %></li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>
 
<h2>Available pairing sessions</h2>
 
<%= form_tag(search_pairing_sessions_path, :id => "pairing_sessions_form", :method => :get) do %>
  Showing pairing sessions
  <%= select_tag 'radius', options_for_select([10, 20, 30, 40, 50], current_radius) %>
  miles around
  <%= text_field_tag 'location', current_city %>
  <%= submit_tag "Update list" %>
<% end %>
 
<table id="available_pairing_sessions">
  <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Description</th>
    <th>Location</th>
    <th></th>
  </tr>
  <% @available_pairing_sessions.each do |session| %>
    <tr>
      <td><%= session.start_at %> </td>
      <td><%= session.end_at %></td>
      <td><%= session.description %></td>
      <td><%= session.displayed_location %></td>
      <td>
        <ul>
          <li><%= link_to 'Show', session %></li>
          <li>
            <%# TODO: Is this necessary? %>
            <% session.pair_id = current_user.id %>
            <%= button_to "I'll pair on this!", set_pair_on_pairing_session_path(session), {:method => :put} %>
          </li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>