<h1>Listing Pairing Sessions</h1>

<table id="my_pairing_sessions">
  <tr>
	<th>Start time</th>
	<th>End time</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pairing_sessions.each do |pairing_session| %>
  <tr>
    <td><%= pairing_session.start_at.strftime("%m/%d/%Y %I:%M%p") %></td>
    <td><%= pairing_session.end_at.strftime("%m/%d/%Y %I:%M%p") %></td>
    <td><%= pairing_session.description %></td>
    <td><%= link_to 'Show', pairing_session %></td>
    <td><%= link_to 'Edit', edit_pairing_session_path(pairing_session) %></td>
    <td><%= link_to 'Delete', pairing_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pairing session', new_pairing_session_path %>
