<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @pairing_session.description %>
</p>

<p>
  <b>Start Time:</b>
  <%= @pairing_session.start_at %>
</p>

<p>
  <b>End Time:</b>
  <%= @pairing_session.end_at %>
</p>

<%= link_to 'Edit', edit_pairing_session_path(@pairing_session) %> |
<%= link_to 'Back', pairing_sessions_path %>
