<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tag %>
  <title>Promiscuous Pair Programming</title>
  <%= javascript_include_tag *%w(
    vendor/jquery.min.js
    vendor/rails.js
    vendor/jquery.cookie.js
    vendor/gears_init.js
    http://maps.google.com/maps/api/js?sensor=false
    vendor/json2.js
  ) %>
  <%= javascript_include_tag "lib/ppp", "lib/application" %>
  <%= stylesheet_link_tag :all %>
</head>
<body>

<div class="flashes">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<div id="wrapper">
  <div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Promiscuous Pair Programming</a></h1>
    </div>
  </div>
  </div>
  <!-- end #header -->
  <div id="page">
  <div id="page-bgtop">
  <div id="page-bgbtm">
    <div id="content">
      <div id="client-location"></div>
      <%= yield %>
    <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #content -->
    <div id="sidebar">
      <ul>
        <li>
          <%= render :partial => "shared/navigation"%>
        </li>
      </ul>
    </div>
    <!-- end #sidebar -->
    <div style="clear: both;">&nbsp;</div>
  </div>
  </div>
  </div>
  <!-- end #page -->
</div>
  <div id="footer">
    <p>Copyright (c) 2010 Promiscuouspairprogramming.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
  </div>
  <!-- end #footer -->
</body>
</html>
